<%- include("../partials/NavbarDashboard"); -%>


  <div class="container-fluid scroll">
    <div class="row dashboard">
      <%- include("../partials/sidebarMenu"); -%>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 transition-fade" id="swup">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Chef-<i><strong>de</strong></i>-Cusine <i><sup class="total-number"><%=total%></sup><i></h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group me-2">
                <a type="button" href="/get-chef-csv" onclick="setTimeout(()=>{window.location.reload()}, 1000);" class="btn btn-sm btn-outline-secondary btn-outline-dark export-btn">Export</a>
              </div>
            <div class="btn-toolbar mb-2 mb-md-0">
              <a type="button" class="btn btn-outline-danger" href="/newchef">Add Chef&emsp13;<i class="bi bi-person-plus-fill"></i></a>
            </div>
            </div>
          </div>
          <table>
            <thead class="thead">
              <tr>
                <th>Chef ID</th>
                <th>Chef Name</th>
                <th>Chef Contact</th>
                <th>Brigade-de-Cuisine</th>
                <th>Actions</th>
              </tr>
              </thead>
                <tbody>
                  <% rows.forEach(element => { %>
                  <tr class="tr">
                    <td>CI-<%=element.chef_id%></td>
                    <td><%=element.chef_name%></td>
                    <td><%=element.chef_contact%></td>
                    <td><%=element.chef_brigade%></td>
                    <td>
                      <a href="/viewchef/<%=element.chef_id%>" type="button" class="btn btn-dark"><i class="bi bi-eye-fill"></i></a>
                      <a href="/editchef/<%=element.chef_id%>" type="button" class="btn btn-dark"><i class="bi bi-pencil-square"></i></a>
                      <a href="/deletechef/<%=element.chef_id%>" onclick="setTimeout(()=>{window.location.reload()}, 1000);" type="button" class="btn btn-dark"><i class="bi bi-x-circle-fill"></i></a>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
    </div>
    </main>
  </div>

  <%- include("../partials/footer"); -%>