<%- include("../partials/NavbarDashboard"); -%>


  <div class="container-fluid scroll">
    <div class="row dashboard">
      <%- include("../partials/sidebarMenu"); -%>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 transition-fade" id="swup">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2"><small>Your viewing details of the</small> <strong><i><%=rows[0].chef_name%></i></strong></h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <a type="button" class="btn btn-outline-danger" href="/newitem">Add New Chef&emsp13;<i class="bi bi-person-plus-fill"></i></a>
            </div>
          </div>
          <div class="view-order-container">
            <div class="sub-heading">
            <h5>Chef Name</h5>
            </div>
            <div class="detail one">
                <strong><%=rows[0].chef_name%></strong>
            </div>
            <div class="sub-heading">
            <h5>Chef ID</h5>
            </div>
            <div class="detail one">
                <strong>CI-<%=rows[0].chef_id%></strong>
            </div>
            <div class="sub-heading">
            <h5>Contact</h5>
            </div>
            <a class="detail two" href="mailto:<%=rows[0].chef_contact%>"><strong><%=rows[0].chef_contact%></strong>
            </a>
            <div class="sub-heading">
            <h5>Mobile Number</h5>
            </div>
            <a class="detail two" href="tel:<%=rows[0].chef_number%>"><strong><%=rows[0].chef_number%></strong>
            </a>
            <div class="sub-heading">
            <h5>Chef-<i>de</i>-cuisine</h5>
            </div>
            <div class="detail three">
                <strong><%=rows[0].chef_brigade%></strong>
            </div>
        </div>
    </div>
    </main>
  </div>

  <%- include("../partials/footer"); -%>