<%- include("../partials/NavbarDashboard"); -%>

  <div class="container-fluid scroll">
    <div class="row dashboard">
      <%- include("../partials/sidebarMenu"); -%>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 transition-fade">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2"><strong><i>Crew</i></strong></strong> <i><sup class="total-number"><%=total%></sup></i></h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <a type="button" href="/get-user-csv" onclick="setTimeout(()=>{window.location.reload()}, 1000);" class="btn btn-sm btn-outline-secondary btn-outline-dark export-btn">Export</a>
            </div>
            <div class="btn-toolbar mb-2 mb-md-0">
              <a type="button" class="btn btn-outline-danger" href="/newuser">Add Newuser&emsp13;<i class="bi bi-person-plus-fill"></i></a>
            </div>
            </div>
          </div>
          <table>
            <thead class="thead">
              <tr>
                <th>University ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
              </tr>
              </thead>
                <tbody>
                  <% rows.forEach(element => { %>
                  <tr class="tr">
                    <td><i><%=element.id%></i></td>
                    <td><i><%=element.first_name%></i></td>
                    <td><i><%=element.last_name%></i></td>
                    <td><i><%=element.email%></i></td>
                    <td><i><%=element.phone%></i></td>
                    <td>
                      <a href="/viewuser/<%=element.id%>" type="button" class="btn btn-dark"><i class="bi bi-eye-fill"></i></a>
                      <a href="/edituser/<%=element.id%>" type="button" class="btn btn-dark"><i class="bi bi-pencil-square"></i></a>
                      <a href="/deleteuser/<%=element.id%>" onclick="setTimeout(()=>{window.location.reload()}, 1000);" type="button" class="btn btn-dark"><i class="bi bi-x-circle-fill"></i></a>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            
    </div>
    </main>
  </div>
  </div>

  <%- include("../partials/footer"); -%>