<%- include("../partials/NavbarDashboard"); -%>


  <div class="container-fluid scroll">
    <div class="row dashboard">
      <%- include("../partials/sidebarMenu"); -%>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 transition-fade" id="swup">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Modify The Data</h1>
          </div>
          <form class="needs-validation" action="/edititem/<%=rows[0].item_id%>" method="post">
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">Item ID:</label>
                <input type="number" class="form-control" id="firstName" name="itemID" required autocomplete="off"
                  value="<%=rows[0].item_id%>" placeholder="Item ID" pattern="[0-9]{5}">
                <div class="invalid-feedback">
                  Valid Item ID is required.
                </div>
              </div>

              <div class="col-sm-6">
                <label for="firstName" class="form-label">Item Name:</label>
                <input type="text" class="form-control" id="firstName" name="itemName" required autocomplete="off"
                  value="<%=rows[0].item_name%>" placeholder="Item Name">
                <div class="invalid-feedback">
                  Valid Item Name is required.
                </div>
              </div>

              <div class="col-sm-6">
                <label for="firstName" class="form-label">Unavailable:</label>
                <select class="form-select form-select mb-3" aria-label=".form-select-lg example"
                  name="itemAvailability">
                  <option value="Available" <% if(rows[0].item_availability=='Available' ) {%>
                    selected
                    <% } %>
                      >
                      Available
                  </option>
                  <option <% if(rows[0].item_availability=='Unavailable' ) {%>
                    selected
                    <% } %>
                      >Unavailable
                  </option>
                </select>
              </div>

              <div class="col-sm-6">
                <label for="number" class="form-label">Item Price:</label>
                <input type="number" class="form-control" id="lastName" name="itemPrice" required
                  autocomplete="off" value="<%=rows[0].item_price%>">
                <div class="invalid-feedback">
                  Please enter a valid Amount.
                </div>
              </div>

              <div class="col-12">
                <div class="form-floating">
                  <textarea class="form-control" placeholder="Add a Long Description" id="floatingTextarea2"
                    style="height: 200px" name="itemLDescription"><%=rows[0].item_long_description%></textarea>
                  <label for="floatingTextarea2">Long Description</label>
                </div>
              </div>

            </div>
            <hr class="my-4">
            <button class="w-100 btn btn-danger btn-lg" type="submit">Create a New Entry</button>
          </form>
          <%if(status) {%>
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 20px;">
              <h4 class="alert-heading">Updation Completed</h4>
              <hr>
              <p>Head back to <a href="/chefs" class="alert-link">Chef-de-Cuisine Page</a></p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } if(error) { %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 20px;">
                <h4 class="alert-heading">Uh-Oh</h4>
                <hr>
                <p>Couldn't Edit the Data, Review the Details and <strong>Try again</strong></p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <% } %>
    </div>
    </main>
  </div>
  <%- include("../partials/footer"); -%>