<%- include("../partials/NavbarDashboard"); -%>


<div class="container-fluid scroll">
  <div class="row dashboard">
    <%- include("../partials/sidebarMenu"); -%>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 transition-fade" id="swup">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><i><%=rows[0].customer_name%></i></strong></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <a type="button" class="btn btn-outline-danger" href="/customer/new">Add New Customer&emsp13;<i
              class="bi bi-person-plus-fill"></i></a>
        </div>
      </div>
      <div class="view-order-container">
        <div class="sub-heading">
          <h5>Customer ID</h5>
        </div>
        <div class="detail one">
          <strong><%=rows[0].customer_id%></strong>
        </div>
        <div class="sub-heading">
          <h5>Full Name</h5>
        </div>
        <div class="detail two">
          <strong><%=rows[0].customer_name%></strong>
        </div>
        <div class="sub-heading">
          <h5>Email</h5>
        </div>
        <a class="detail three" href="mailto:<%=rows[0].email%>">
          <strong><%=rows[0].customer_email%></strong>
        </a>
        <div class="sub-heading">
          <h5>Phone</h5>
        </div>
        <a class="detail three" href="tel:<%=rows[0].email%>">
          <strong><%=rows[0].customer_no%></strong>
        </a>
      </div>
    </main>
  </div>
</div>

<%- include("../partials/footer"); -%>